* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39A6B2;
    font-family: Helvetica, Arial, sans-serif;
}

/* APPLY STYLES TO <header>*/
header {
    padding: 20px 35px;
    background-color: #39A6B2;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    color: #FCE138;
    margin: 0;
}
  
header a {
    color: #FCE138;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* APPLY STYLES TO <footer> */

footer {
    padding: 40px 35px;
    background-color: #FCE138;
    width: 100%;
}

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024E76;
}

section {
    padding: 60px;
}

/* ADD STYLE TO HERO SECTION*/
.hero {
    position: relative;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

/* ADD STYLE TO FORM */
.hero-form {
    position: absolute;
    border: 3px solid #024E76;
    background-color: #FCE138;
    padding: 20px;
    width: 500px;
    color: #024E76;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 2rem;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #024E76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024E76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: #024E76;
    color: #FCE138;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.intro {
    text-align: center;
}

.intro h2 {
    display: inline-block;
    color: #024E76;
    font-size: 55px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #FCE138;
}

.intro p {
    line-height: 1.7;
    color: #39A6B2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}