* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39A6B2;
    font-family: Helvetica, Arial, sans-serif;
}

/* APPLY STYLES TO <header>*/
header {
    padding: 20px 35px;
    background-color: #39A6B2;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    color: #FCE138;
    margin: 0;
}
  
header a {
    color: #FCE138;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* APPLY STYLES TO <footer> */

footer {
    padding: 40px 35px;
    background-color: #FCE138;
    width: 100%;
}

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024E76;
}